.all-doctors-filter-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.select2-container {
    border: 1px solid #E8E6D4;
    border-radius: 6px;
    width: 100% !important;
}

.select2-container .selection {
}

.select2-container .selection .select2-selection--single {
    padding-top: 16px;
    padding-right: 20px;
    padding-bottom: 16px;
    padding-left: 20px;
    background: transparent;
    color: #E8E6D4;
    height: auto;
    border: none;
}

.select2-container .selection .select2-selection--single .select2-selection__rendered {
    color: #E8E6D4;
}

.select2-container .selection .select2-selection--single .select2-selection__arrow {top: 50%;margin-top: -15px;}

.select2-container .selection .select2-selection--single .select2-selection__arrow b {border-color: #E8E6D4 transparent;border-width: 5px 5px 0 5px;}