.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    opacity: 1;
    visibility: visible;
    transition: all .3s ease-in-out;
}

.popup-overlay.hidden {
    opacity: 0;
    visibility: hidden;
}

.popup-wrapper {
    padding: 0;
    width: 90%;
    max-width: 1200px;
    position: relative;
    background: #18383C;
    overflow: hidden;
    transition: all .4s ease-in-out;
    transform: translateY(0);
}

.hidden .popup-wrapper {
    transform: translateY(100px);
}

.dent-form {
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    position: relative;
}
.popup .dent-form {
    background-image: url(../../../assets/img/popup-bg.svg);
    background-position: 100% 0;
    background-repeat: no-repeat;
} 
.popup::-webkit-scrollbar {
    width: 5px !important;
    background-color: transparent;
}

.popup::-webkit-scrollbar-thumb {
    margin-right: 10px;
    transform: translateX(20px);
    border-radius: 10px;
    background: rgba(170, 170, 170, 0.4);
}

.popup::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: transparent;
}

.dent-form__title {
    margin: 0 0 10px 0;
    color: #E8E6D4;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.popup-close {
    position: absolute;
    top: 12px;
    right: 12px;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

.dent-form__form {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: none;
    padding: 0;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    position: relative;
    overflow: hidden;
    border-radius: 0;
}

.dent-form__form input.error {
    border-color: #F5222D;
}

.dent-form__image {
    width: 47%;
    height: auto;
}

.dent-form__image img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    object-fit: cover;
}

.dent-form__content {
    width: 53%;
    position: relative;
    padding: 0 45px;
    box-sizing: border-box;
}

.popup__close-btn {
    background: transparent;
    border: none;
    outline: none;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 99;
    cursor: pointer;
}

.dent-form__subtitle {
    margin: 0 0 40px 0;
}

.dent-form__fields {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.dent-form__fields input {
    width: calc(50% - 50px);
}

.dent-form__fields input[type="tel"] {
    width: 100%;
}

.dent-form__contact-options {
    display: flex;
    gap: 60px;
    margin-top: 15px;
}

.dent-form__disclaimer {
    color: #E8E6D4;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
}

@media screen and (max-width: 1024px) {
    .popup-wrapper {
        max-width: 400px;
    }

    .dent-form {
        background-size: 200px auto;
    }

    .dent-form__image {
        display: none;
    }

    .dent-form__content {
        width: 100%;
        padding: 70px 20px 20px 20px;
    }

    .dent-form__title {
        font-size: 28px;
        margin-bottom: 15px;
    }

    .dent-form__subtitle {
        margin-bottom: 15px;
    }

    .dent-form__fields input {
        width: 100%;
    }

    .dent-form__contact-options {
        flex-wrap: wrap;
        gap: 10px;
    }

    .dent-form__contact-options label {
        width: 48%;
    }
}
